<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log and Registration</title>
    <link rel="stylesheet" href="{% static 'LoginRegisteration_app/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LoginRegisteration_app/css/materialize_icons.css' %}">
  	<script src="{% static 'LoginRegisteration_app/js/jquery-2.2.3.js' %}"></script>
  	<script src="{% static 'LoginRegisteration_app/js/jquery-ui.js' %}"></script>
  	<script src="{% static 'LoginRegisteration_app/js/materialize.js' %}"></script>
  </head>
  <body>
    <header class="green">
      <nav class="green">
        <a class="brand-logo" href="#">Welcome to Loging and Registration</a>
      </nav>
    </header>
  </body>
</html>
